<div class="row p-4">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Nuevo Usuario</h3>
                    <img src="/img/registro.png" alt="logo" class="card-img-top mx-auto m-2 rounded w-50">
                    <form action="/registro" method="POST" id="form1">
                        <div class="form-group" >
                            <input type="text" name="username" placeholder="Numero de operador" class="form-control" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="fullname" placeholder="Nombre completo" class="form-control" >
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" placeholder="Contraseña" class="form-control">
                        </div>
                        <div class="form-group">
                         <select name="rol" class="form-control" id="Select1" >
                            <option value="0">Rol de usuario</option>
                            <option value="facilitador_corte">Facilitador de corte</option>
                            <option value="calidad">Operador de calidad</option>
                            <option value="operador_corte">Operador de corte</option>
                            <option value="mantenimiento">Operador de mantenimiento</option>
                            <option value="supervisor_corte">Supervisor de corte</option>
                            <option value="supervisor_mantenimiento">Supervisor de mantenimiento</option>
                        </select>
                        </div>
                        </form>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" onclick="StartFunction()"> REGISTRAR</button>
                        </div>
                </div>
            </div>
        </div>
    </div>

<script>
    var rol;
function StartFunction(){
    rol = document.getElementById("Select1").value;
    if (rol === "0") {
        alert("Existe un campo vacio en el formulario");
        return false;
    } else {
        document.getElementById("form1").submit();
    }
}
</script>