<script src="/socket.io/socket.io.js"></script>
<link rel="stylesheet" href="/css/estilo-maquinas.css">


<body class="body-light-grey">
    {{> navbar }}
    <div class="full-height">
        <div class="app-content-right">
            <div class="contenedor-img text-center">
                <img src="/logos/user-profile.png" alt="">
            </div>
            <div class="card-body mx-auto">
                <div class="form-group">
                    {{> mensage }}
                </div>
                {{#each data_user}}
                <form action="/averia/add" method="POST" id="test">
                    <div style="display: none;">
                        <div class="form-group">
                            <input type="text" class="form-control" name="num_ope" id="username" value="{{username}}">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="turno" id="turno">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="num_machine" id="num_machine" value="{{machine}}">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="hora-inicio" name="start_time">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="fecha-inicio" name="start_date">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="fecha-creacion" name="creation_date">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="step" name="step" value="1">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="page" name="page" value="arrival">
                        </div>
                    </div>
                </form>
                <div class="form-group">
                    <button class="btn btn-success btn-block" onclick="StartformA()">AVERIA</button>
                </div>
                <form action="/incidencia/add" method="POST" id="test1">
                    <div style="display:none;">
                        <div class="form-group">
                            <input type="text" class="form-control" name="turno" id="turno-1">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="hora-inicio-1" name="start_time">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="fecha-inicio-1" name="start_date">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="fecha-creacion-1" name="creation_date">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="step1" name="step" value="1">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="page1" name="page" value="incidencia">
                        </div>
                    </div>
                </form>
                <div class="form-group">
                    <button class="btn btn-success btn-block" onclick="StartformI()">INCIDENCIA</button>
                </div>
                <!--<div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>Por favor enciende tu farola y avisa al facilitador !</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>-->
            </div>
        </div>
        <div class="app-content-left">
            <div class="card left-center text-center">
                <H1>{{machine}}</H1>
                <div class="row">
                    <div class="col">
                        <p id="fecha" class="form-control"></p>
                    </div>
                    <div class="col">
                        <p id="hora" class="form-control"></p>
                    </div>
                </div>
            </div>
            <nav>
                <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-chat-tab" data-toggle="tab" href="#chat-calidad"
                        role="tab" aria-controls="nav-chat" aria-selected="true">Chat con calidad</a>
                    <a class="nav-item nav-link" id="nav-produccion-tab" data-toggle="tab" href="#registro-produccion"
                        role="tab" aria-controls="nav-produccion" aria-selected="false">Registro de produccion</a>
                    <a class="nav-item nav-link" id="nav-averias-tab" data-toggle="tab" href="#averias" role="tab"
                        aria-controls="nav-averias" aria-selected="false">Averias</a>
                </div>
            </nav>
            <div class="card sub-right tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="chat-calidad" role="tabpanel" aria-labelledby="nav-chat-tab">
                    <div class="chat form-group">
                        <div class="message text-center">
                            <ul>
                                <div id="message1">

                                </div>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <input type="text" id="mensaje">
                        <button class="btn-send" onclick="enviarchat(1)"><i class="fa fa-paper-plane"></i></button>
                    </div>
                </div>
                <div class="tab-pane fade" id="registro-produccion" role="tabpanel"
                    aria-labelledby="nav-produccion-tab">
                    <div class="card bg-light mb-3 text-center">
                        <div class="card-header">REGISTRO DE PRODUCCIÓN</div>
                        <div class="card-body mx-auto">
                            <p class="card-text">Lleva el registro de producción de cada hora.</p>
                            <form action="/registro/produccion/maquinas" method="POST">
                                <div style="display:none" class="form-group">
                                    <input type="text" class="form-control" name="num_machine" value="A01">
                                    <input type="text" class="form-control" name="turno" id="turno-2">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-block">Registrar</button>
                                </div>
                            </form>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="averias" role="tabpanel" aria-labelledby="nav-averias-tab">
                    <div class="card bg-light mb-3 text-center">
                        <div class="card-header">AVERIAS E INCIDENCIAS</div>
                        <div class="card-body mx-auto">
                            <p class="card-text">Visualiza el estado de tus averias e incidencias.</p>
                            {{#if user}}
                            <div class="col">
                                <a href="/user/logged/operador_corte" class="btn btn-outline-info my-2 my-sm-0">Ir</a>
                            </div>
                            {{else}}
                            <form action="/login/maquinas" method="POST">
                                <div style="display:none" class="form-group">
                                    <input type="text" class="form-control" name="num_maquina" value="A01">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="username" placeholder="Nº Operador" class="form-control"
                                        autofocus>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" placeholder="Contraseña"
                                        class="form-control">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-block">Login</button>
                                </div>
                            </form>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="/js/reloj.js"> </script>
<script src="/js/add.js"> </script>



<!--<body>
    <video id="vid" autoplay></video>
</body>

<script >
navigator.mediaDevices.getUserMedia({
    video:true
})

.then(stream =>{
    document.getElementById("vid").srcObject = stream;
})
</script>-->