<script src="/socket.io/socket.io.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/estilo-formulario-u-c.css">

<body class="body-light-grey">
    {{> navbar }}
    <div class="full-height">
        <div class="app-content-right">
            <div class="contenedor-img text-center">
                <img src="/logos/user-profile.png" alt="">
            </div>
            <div class="card-body mx-auto">
                <div class="card border-primary mb-3" style="max-width: 18rem;">
                    
                    <div class="col">
                        <p id="hora" class="form-control"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="app-content-left">
            <nav>
                <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-chat-tab" data-toggle="tab" href="#chat-calidad"
                        role="tab" aria-controls="nav-chat" aria-selected="true">Chat con usuarios</a>
                    <a class="nav-item nav-link" id="nav-averias-tab" data-toggle="tab" href="#averias" role="tab"
                        aria-controls="nav-averias" aria-selected="false">Averias</a>
                </div>
            </nav>
            <div class="container mx-auto text-center">
	<div class="row mx-auto">
		<div class="headLeft-section border-primary">
			<input class="input" type="text" id="search" style="text-transform: uppercase;" value=""
				onkeyup="javascript:this.value=this.value.toUpperCase();">
			<a  id="searchchat"> <i class="fa fa-search"></i> </a>
		</div>
		<div class="headRight-section border-primary">
			<input type="text" class="form-control" id="username" value="calidad" style="display: none;">
			<p id="hora" class="form-control" style="display: none;"></p>
			<h1>Chat-Calidad</h1>
		</div>
	</div>
	<div class="row mx-auto">
		<div class="bodyLeft-section border-primary">
			<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
				<a class="nav-link active" id="v-pills-a01-tab" data-toggle="pill" href="#chat-a01" role="tab"
					aria-controls="v-pills-a01-tab" aria-selected="true">A01</a>
				<a class="nav-link" id="v-pills-a02-tab" data-toggle="pill" href="#chat-a02" role="tab"
					aria-controls="v-pills-a02" aria-selected="false">A02</a>
				<a class="nav-link" id="v-pills-a03-tab" data-toggle="pill" href="#chat-a03" role="tab"
					aria-controls="v-pills-a03" aria-selected="false">A03</a>
				<a class="nav-link" id="v-pills-a04-tab" data-toggle="pill" href="#chat-a04" role="tab"
					aria-controls="v-pills-a04" aria-selected="false">A04</a>
				<a class="nav-link" id="v-pills-a05-tab" data-toggle="pill" href="#chat-a05" role="tab"
					aria-controls="v-pills-a05" aria-selected="false">A05</a>
				<a class="nav-link" id="v-pills-a06-tab" data-toggle="pill" href="#chat-a06" role="tab"
					aria-controls="v-pills-a06" aria-selected="false">A06</a>
				<a class="nav-link" id="v-pills-a07-tab" data-toggle="pill" href="#chat-a07" role="tab"
					aria-controls="v-pills-a07" aria-selected="false">A07</a>
				<a class="nav-link" id="v-pills-a08-tab" data-toggle="pill" href="#chat-a08" role="tab"
					aria-controls="v-pills-a08" aria-selected="false">A08</a>
				<a class="nav-link" id="v-pills-a09-tab" data-toggle="pill" href="#chat-a09" role="tab"
					aria-controls="v-pills-a09" aria-selected="false">A09</a>
				<a class="nav-link" id="v-pills-a10-tab" data-toggle="pill" href="#chat-a10" role="tab"
					aria-controls="v-pills-a10" aria-selected="false">A10</a>
				<a class="nav-link" id="v-pills-a11-tab" data-toggle="pill" href="#chat-a11" role="tab"
					aria-controls="v-pills-a11" aria-selected="false">A11</a>
				<a class="nav-link" id="v-pills-a12-tab" data-toggle="pill" href="#chat-a12" role="tab"
					aria-controls="v-pills-a12" aria-selected="false">A12</a>
				<a class="nav-link" id="v-pills-a13-tab" data-toggle="pill" href="#chat-a13" role="tab"
					aria-controls="v-pills-a13" aria-selected="false">A13</a>
				<a class="nav-link" id="v-pills-g01-tab" data-toggle="pill" href="#chat-g01" role="tab"
					aria-controls="v-pills-g01" aria-selected="false">G01</a>
				<a class="nav-link" id="v-pills-g02-tab" data-toggle="pill" href="#chat-g02" role="tab"
					aria-controls="v-pills-g02" aria-selected="false">G02</a>
				<a class="nav-link" id="v-pills-g03-tab" data-toggle="pill" href="#chat-g03" role="tab"
					aria-controls="v-pills-g03" aria-selected="false">G03</a>
				<a class="nav-link" id="v-pills-g04-tab" data-toggle="pill" href="#chat-g04" role="tab"
					aria-controls="v-pills-g04" aria-selected="false">G04</a>
				<a class="nav-link" id="v-pills-x06-tab" data-toggle="pill" href="#chat-x06" role="tab"
					aria-controls="v-pills-x06" aria-selected="false">X06</a>
				<a class="nav-link" id="v-pills-x07-tab" data-toggle="pill" href="#chat-x07" role="tab"
					aria-controls="v-pills-x07" aria-selected="false">X07</a>

			</div>
		</div>
		<div class="bodyRight-section">
			<div class="tab-content" id="v-pills-tabContent">
				<div class="tab-pane fade show active" id="chat-a01" role="tabpanel" aria-labelledby="v-pills-a01-tab">
					<div class="chat form-group">
						<div class="message text-center">
							<ul>
								<div id="message1">
									
								</div>
							</ul>
						</div>
					</div>
					<div class="form-group text-center">
						<input type="text" id="mensaje1">
						<button class="btn-send" onclick="enviarchat(1)"><i class="fa fa-paper-plane"></i></button>
					</div>
				</div>
				<div class="tab-pane fade" id="chat-a02" role="tabpanel" aria-labelledby="v-pills-a02-tab">
					<div class="chat form-group">
						<div class="message">
							<ul>
								<div id="message2">
								</div>
							</ul>
						</div>
					</div>
					<div class="form-group text-center">
						<input type="text" id="mensaje" placeholder="mensaje para....A02">
						<button class="btn-send" onclick="enviarchat(2)"><i class="fa fa-paper-plane"></i></button>
					</div>
				</div>
				<div class="tab-pane fade" id="chat-a03" role="tabpanel" aria-labelledby="v-pills-a03-tab">
					<div class="chat form-group">
						<div class="message">
							<ul>
								<div id="message">
									
								</div>
							</ul>
						</div>
					</div>
					<div class="form-group text-center">
						<input type="text" id="mensaje" placeholder="mensaje para....A03">
						<button class="btn-send" onclick="enviarchat03()"><i class="fa fa-paper-plane"></i></button>
					</div>
				</div>
				<div class="tab-pane fade" id="chat-a04" role="tabpanel" aria-labelledby="v-pills-a04-tab">
					<div class="chat form-group">
						<div class="message">
							<ul>
								<div id="message">
									
								</div>
							</ul>
						</div>
					</div>
					<div class="form-group text-center">
						<input type="text" id="mensaje" placeholder="mensaje para....A04">
						<button class="btn-send" onclick="enviarchat04()"><i class="fa fa-paper-plane"></i></button>
					</div>
				</div>
				<div class="tab-pane fade" id="chat-a05" role="tabpanel" aria-labelledby="v-pills-a05-tab">
					<div class="chat form-group">
						<div class="message">
							<ul>
								<div id="message">
									
								</div>
							</ul>
						</div>
					</div>
					<div class="form-group text-center">
						<input type="text" id="mensaje" placeholder="mensaje para....A05">
						<button class="btn-send" onclick="enviarchat04()"><i class="fa fa-paper-plane"></i></button>
					</div>
				</div>
				<div class="tab-pane fade" id="chat-a06" role="tabpanel" aria-labelledby="v-pills-a06-tab">
					<div class="chat form-group">
						<div class="message">
							<ul>
								<div id="message">
									<li class="msg-left">
										<div class="msg-left-sub">
											<img src="/logos/a2.png">
											<div class="msg-desc">
												HOLA2
											</div>
										</div>
									</li>
								</div>
							</ul>
						</div>
					</div>
					<div class="form-group text-center">
						<input type="text" id="mensaje" placeholder="mensaje para....A06">
						<button class="btn-send" onclick="enviarchat04()"><i class="fa fa-paper-plane"></i></button>
					</div>
				</div>
				<div class="tab-pane fade" id="chat-a07" role="tabpanel" aria-labelledby="v-pills-a07-tab">
					<div class="chat form-group">
						<div class="message">
							<ul>
								<div id="message">
									<li class="msg-left">
										<div class="msg-left-sub">
											<img src="/logos/a2.png">
											<div class="msg-desc">
												HOLA2
											</div>
										</div>
									</li>
								</div>
							</ul>
						</div>
					</div>
					<div class="form-group text-center">
						<input type="text" id="mensaje" placeholder="mensaje para....A07">
						<button class="btn-send" onclick="enviarchat04()"><i class="fa fa-paper-plane"></i></button>
					</div>
				</div>
				<div class="tab-pane fade" id="chat-a08" role="tabpanel" aria-labelledby="v-pills-a08-tab">
					<div class="chat form-group">
						<div class="message">
							<ul>
								<div id="message">
									<li class="msg-left">
										<div class="msg-left-sub">
											<img src="/logos/a2.png">
											<div class="msg-desc">
												HOLA2
											</div>
										</div>
									</li>
								</div>
							</ul>
						</div>
					</div>
					<div class="form-group text-center">
						<input type="text" id="mensaje" placeholder="mensaje para....A08">
						<button class="btn-send" onclick="enviarchat04()"><i class="fa fa-paper-plane"></i></button>
					</div>
				</div>
				<div class="tab-pane fade" id="chat-a09" role="tabpanel" aria-labelledby="v-pills-a09-tab">
					<div class="chat form-group">
						<div class="message">
							<ul>
								<div id="message">
									<li class="msg-left">
										<div class="msg-left-sub">
											<img src="/logos/a2.png">
											<div class="msg-desc">
												HOLA2
											</div>
										</div>
									</li>
								</div>
							</ul>
						</div>
					</div>
					<div class="form-group text-center">
						<input type="text" id="mensaje" placeholder="mensaje para....A09">
						<button class="btn-send" onclick="enviarchat04()"><i class="fa fa-paper-plane"></i></button>
					</div>
				</div>
				<div class="tab-pane fade" id="chat-a10" role="tabpanel" aria-labelledby="v-pills-a10-tab">
					<div class="chat form-group">
						<div class="message">
							<ul>
								<div id="message">
									<li class="msg-left">
										<div class="msg-left-sub">
											<img src="/logos/a2.png">
											<div class="msg-desc">
												HOLA2
											</div>
										</div>
									</li>
								</div>
							</ul>
						</div>
					</div>
					<div class="form-group text-center">
						<input type="text" id="mensaje" placeholder="mensaje para....A10">
						<button class="btn-send" onclick="enviarchat04()"><i class="fa fa-paper-plane"></i></button>
					</div>
				</div>
				<div class="tab-pane fade" id="chat-a11" role="tabpanel" aria-labelledby="v-pills-a11-tab">
					<div class="chat form-group">
						<div class="message">
							<ul>
								<div id="message">
									<li class="msg-left">
										<div class="msg-left-sub">
											<img src="/logos/a2.png">
											<div class="msg-desc">
												HOLA2
											</div>
										</div>
									</li>
								</div>
							</ul>
						</div>
					</div>
					<div class="form-group text-center">
						<input type="text" id="mensaje" placeholder="mensaje para....A11">
						<button class="btn-send" onclick="enviarchat04()"><i class="fa fa-paper-plane"></i></button>
					</div>
				</div>
				<div class="tab-pane fade" id="chat-a12" role="tabpanel" aria-labelledby="v-pills-a12-tab">
					<div class="chat form-group">
						<div class="message">
							<ul>
								<div id="message">
									<li class="msg-left">
										<div class="msg-left-sub">
											<img src="/logos/a2.png">
											<div class="msg-desc">
												HOLA2
											</div>
										</div>
									</li>
								</div>
							</ul>
						</div>
					</div>
					<div class="form-group text-center">
						<input type="text" id="mensaje" placeholder="mensaje para....A12">
						<button class="btn-send" onclick="enviarchat04()"><i class="fa fa-paper-plane"></i></button>
					</div>
				</div>
				<div class="tab-pane fade" id="chat-a23" role="tabpanel" aria-labelledby="v-pills-a13-tab">
					<div class="chat form-group">
						<div class="message">
							<ul>
								<div id="message">
									<li class="msg-left">
										<div class="msg-left-sub">
											<img src="/logos/a2.png">
											<div class="msg-desc">
												HOLA2
											</div>
										</div>
									</li>
								</div>
							</ul>
						</div>
					</div>
					<div class="form-group text-center">
						<input type="text" id="mensaje" placeholder="mensaje para....A13">
						<button class="btn-send" onclick="enviarchat04()"><i class="fa fa-paper-plane"></i></button>
					</div>
				</div>
				<div class="tab-pane fade" id="chat-g01" role="tabpanel" aria-labelledby="v-pills-g01-tab">
					<div class="chat form-group">
						<div class="message">
							<ul>
								<div id="message">
									<li class="msg-left">
										<div class="msg-left-sub">
											<img src="/logos/a2.png">
											<div class="msg-desc">
												HOLA2
											</div>
										</div>
									</li>
								</div>
							</ul>
						</div>
					</div>
					<div class="form-group text-center">
						<input type="text" id="mensaje" placeholder="mensaje para....G01">
						<button class="btn-send" onclick="enviarchat04()"><i class="fa fa-paper-plane"></i></button>
					</div>
				</div>
				<div class="tab-pane fade" id="chat-g02" role="tabpanel" aria-labelledby="v-pills-g02-tab">
					<div class="chat form-group">
						<div class="message">
							<ul>
								<div id="message">
									<li class="msg-left">
										<div class="msg-left-sub">
											<img src="/logos/a2.png">
											<div class="msg-desc">
												HOLA2
											</div>
										</div>
									</li>
								</div>
							</ul>
						</div>
					</div>
					<div class="form-group text-center">
						<input type="text" id="mensaje" placeholder="mensaje para....G02">
						<button class="btn-send" onclick="enviarchat04()"><i class="fa fa-paper-plane"></i></button>
					</div>
				</div>
				<div class="tab-pane fade" id="chat-g03" role="tabpanel" aria-labelledby="v-pills-g03-tab">
					<div class="chat form-group">
						<div class="message">
							<ul>
								<div id="message">
									<li class="msg-left">
										<div class="msg-left-sub">
											<img src="/logos/a2.png">
											<div class="msg-desc">
												HOLA2
											</div>
										</div>
									</li>
								</div>
							</ul>
						</div>
					</div>
					<div class="form-group text-center">
						<input type="text" id="mensaje" placeholder="mensaje para....G03">
						<button class="btn-send" onclick="enviarchat04()"><i class="fa fa-paper-plane"></i></button>
					</div>
				</div>
				<div class="tab-pane fade" id="chat-g04" role="tabpanel" aria-labelledby="v-pills-g04-tab">
					<div class="chat form-group">
						<div class="message">
							<ul>
								<div id="message">
									<li class="msg-left">
										<div class="msg-left-sub">
											<img src="/logos/a2.png">
											<div class="msg-desc">
												HOLA2
											</div>
										</div>
									</li>
								</div>
							</ul>
						</div>
					</div>
					<div class="form-group text-center">
						<input type="text" id="mensaje" placeholder="mensaje para....G04">
						<button class="btn-send" onclick="enviarchat04()"><i class="fa fa-paper-plane"></i></button>
					</div>
				</div>
				<div class="tab-pane fade" id="chat-x06" role="tabpanel" aria-labelledby="v-pills-x06-tab">
					<div class="chat form-group">
						<div class="message">
							<ul>
								<div id="message">
									<li class="msg-left">
										<div class="msg-left-sub">
											<img src="/logos/a2.png">
											<div class="msg-desc">
												HOLA2
											</div>
										</div>
									</li>
								</div>
							</ul>
						</div>
					</div>
					<div class="form-group text-center">
						<input type="text" id="mensaje" placeholder="mensaje para....A06">
						<button class="btn-send" onclick="enviarchat04()"><i class="fa fa-paper-plane"></i></button>
					</div>
				</div>
				<div class="tab-pane fade" id="chat-x07" role="tabpanel" aria-labelledby="v-pills-x07-tab">
					<div class="chat form-group">
						<div class="message">
							<ul>
								<div id="message">
									<li class="msg-left">
										<div class="msg-left-sub">
											<img src="/logos/a2.png">
											<div class="msg-desc">
												HOLA2
											</div>
										</div>
									</li>
								</div>
							</ul>
						</div>
					</div>
					<div class="form-group text-center">
						<input type="text" id="mensaje" placeholder="mensaje para....X07">
						<button class="btn-send" onclick="enviarchat04()"><i class="fa fa-paper-plane"></i></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
        </div>
    </div>
</body>

<script src="/js/reloj.js"> </script>
<script src="/js/chat.js"> </script>