.main-container{
    width: 100%;
}

.sub-container{
    margin-top: 2%;
    width: 30%;
}

.form-group.button{
    border-color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
}

@media only screen and (max-width: 1200px){
    .sub-container{
        width: 50%;
    }
}
