html, body{
	overflow-x: hidden;
	background: -webkit-linear-gradient(to right, #6eadd4, #636fa4);
    background: linear-gradient(to right, #6eadd4, #636fa4);
	
}

.row{
	background: -webkit-linear-gradient(to right, #6eadd4, #636fa4);
    background: linear-gradient(to right, #6eadd4, #636fa4);
}

.card {
	box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
	border-radius: 5px;
  }

.btn-send{
	border-radius: 10px;
    border: 1px solid;
	color: #009EF7;
	font-size: 18px;
	background: #fff;
	cursor: pointer;
}

#mensaje{
	border-radius: 10px;
    border: 1px solid #E6E6E6;
}

.chat.form-group{
	height: 138px; 
	overflow-y:scroll;
}

.message{
	height:138px;
}

.message ul li {
    position: relative;
    width: 80%;
    padding: 15px 0px;
    clear: both;
}

ul{
	padding: 0px;
    list-style: none;
    margin: 0px auto;
    width: 100%;
    overflow: hidden;
    margin-bottom: 0px;
}

ul li.msg-left {
    float: left;
}

ul li.msg-left img {
    float: left;
    width: 30px;
}

ul li.msg-left .msg-desc {
	margin-left: 40px;
    font-size: 12px;
    background: #000000;
    padding: 5px 10px;
    border-radius: 5px 5px 5px 0px;
    position: relative;
}

ul li.msg-right {
    float: right;
}

ul li.msg-right img {
    position: absolute;
    width: 30px;
    right: 35px;
}

ul li.msg-right .msg-desc {
    margin-right: 70px;
    font-size: 12px;
    background: #cce5ff;
    color: #004085;
    padding: 5px 10px;
    border-radius: 5px 5px 5px 0px;
    position: relative;
}


@media only screen and (min-width : 666px) and (max-width : 1028px) {
	.chat.form-group{
		height: 162px;
	}
}


@media only screen and (max-width: 665px){
	.chat.form-group{
		height: 180px;
	}
}