<div class="card text-center">
  <div class="card-header">
    <H1>BUSCADOR DE AVERIAS CERRADAS</H1>
  </div>
   <div class="card-body">
    <h5 class="card-title">Turno:Mañana</h5>
  </div>
</div>
<div style="width: 100%;">
<div class="card-deck">
<div class="card text-white bg-secondary mb-3 text-center">
  <div class="card-header">A1||<i class="fas fa-wrench"></i></div>
  <div class="card-body">
    <button type="button" class="btn btn-info"><i class="fas fa-search"></i> Buscar</button>
  </div>
</div>
<div class="card text-white bg-secondary mb-3 text-center">
  <div class="card-header">A2||<i class="fas fa-wrench"></i></div>
  <div class="card-body">
    <button type="button" class="btn btn-info"><i class="fas fa-search"></i> Buscar</button>
  </div>
</div>
<div class="card text-white bg-secondary mb-3 text-center">
  <div class="card-header">A3||<i class="fas fa-wrench"></i></div>
  <div class="card-body">
<button type="button" class="btn btn-info"><i class="fas fa-search"></i> Buscar</button>
  </div>
</div>
<div class="card text-white bg-secondary mb-3 text-center">
  <div class="card-header">A4||<i class="fas fa-wrench"></i></div>
  <div class="card-body">
    <button type="button" class="btn btn-info"><i class="fas fa-search"></i> Buscar</button>
  </div>
</div>
</div>
<div class="card-deck">
<div class="card text-white bg-secondary mb-3 text-center">
  <div class="card-header">A1||<i class="fas fa-wrench"></i></div>
  <div class="card-body">
    <button type="button" class="btn btn-info"><i class="fas fa-search"></i> Buscar</button>
  </div>
</div>
<div class="card text-white bg-secondary mb-3 text-center">
  <div class="card-header">A2||<i class="fas fa-wrench"></i></div>
  <div class="card-body">
    <button type="button" class="btn btn-info"><i class="fas fa-search"></i> Buscar</button>
  </div>
</div>
<div class="card text-white bg-secondary mb-3 text-center">
  <div class="card-header">A3||<i class="fas fa-wrench"></i></div>
  <div class="card-body">
<button type="button" class="btn btn-info"><i class="fas fa-search"></i> Buscar</button>
  </div>
</div>
<div class="card text-white bg-secondary mb-3 text-center">
  <div class="card-header">A4||<i class="fas fa-wrench"></i></div>
  <div class="card-body">
    <button type="button" class="btn btn-info"><i class="fas fa-search"></i> Buscar</button>
  </div>
</div>
</div>
<div class="card-deck">
<div class="card text-white bg-secondary mb-3 text-center">
  <div class="card-header">A1||<i class="fas fa-wrench"></i></div>
  <div class="card-body">
    <button type="button" class="btn btn-info"><i class="fas fa-search"></i> Buscar</button>
  </div>
</div>
<div class="card text-white bg-secondary mb-3 text-center">
  <div class="card-header">A2||<i class="fas fa-wrench"></i></div>
  <div class="card-body">
    <button type="button" class="btn btn-info"><i class="fas fa-search"></i> Buscar</button>
  </div>
</div>
<div class="card text-white bg-secondary mb-3 text-center">
  <div class="card-header">A3||<i class="fas fa-wrench"></i></div>
  <div class="card-body">
<button type="button" class="btn btn-info"><i class="fas fa-search"></i> Buscar</button>
  </div>
</div>
<div class="card text-white bg-secondary mb-3 text-center">
  <div class="card-header">A4||<i class="fas fa-wrench"></i></div>
  <div class="card-body">
    <button type="button" class="btn btn-info"><i class="fas fa-search"></i> Buscar</button>
  </div>
</div>
</div>
<div class="card-deck">
<div class="card text-white bg-secondary mb-3 text-center">
  <div class="card-header">A1||<i class="fas fa-wrench"></i></div>
  <div class="card-body">
    <button type="button" class="btn btn-info"><i class="fas fa-search"></i> Buscar</button>
  </div>
</div>
<div class="card text-white bg-secondary mb-3 text-center">
  <div class="card-header">A2||<i class="fas fa-wrench"></i></div>
  <div class="card-body">
    <button type="button" class="btn btn-info"><i class="fas fa-search"></i> Buscar</button>
  </div>
</div>
<div class="card text-white bg-secondary mb-3 text-center">
  <div class="card-header">A3||<i class="fas fa-wrench"></i></div>
  <div class="card-body">
<button type="button" class="btn btn-info"><i class="fas fa-search"></i> Buscar</button>
  </div>
</div>
<div class="card text-white bg-secondary mb-3 text-center">
  <div class="card-header">A4||<i class="fas fa-wrench"></i></div>
  <div class="card-body">
    <button type="button" class="btn btn-info"><i class="fas fa-search"></i> Buscar</button>
  </div>
</div>
</div>
<div class="card-deck">
<div class="card text-white bg-secondary mb-3 text-center">
  <div class="card-header">A1||<i class="fas fa-wrench"></i></div>
  <div class="card-body">
    <button type="button" class="btn btn-info"><i class="fas fa-search"></i> Buscar</button>
  </div>
</div>
<div class="card text-white bg-secondary mb-3 text-center">
  <div class="card-header">A2||<i class="fas fa-wrench"></i></div>
  <div class="card-body">
    <button type="button" class="btn btn-info"><i class="fas fa-search"></i> Buscar</button>
  </div>
</div>
<div class="card text-white bg-secondary mb-3 text-center">
  <div class="card-header">A3||<i class="fas fa-wrench"></i></div>
  <div class="card-body">
<button type="button" class="btn btn-info"><i class="fas fa-search"></i> Buscar</button>
  </div>
</div>
</div>
</div>