<div class="mx-auto" style="max-width: 600px;">
    <div class="card bg-light mb-3 text-center">
        <div class="card-header">
            <H1>HORA X HORA</H1>
        </div>
        <div class="card-body ">
            <h5 class="card-title">Turno:Mañana</h5>
            <div class="alert alert-light alert-dismissible fade show" role="alert">
                <div class="row">
                    <div class="col-sm-9 mx-auto">
                        <input type="number" class="form-control" id="fecha-creacion" name="num_a01"
                            placeholder="ingresa el total: A12" autofocus>
                    </div>
                    <div class="form-group mx-auto">
                            <button type="button" class="btn btn-outline-info my-2 my-sm-0" data-dismiss="alert"
                            aria-label="Close">
                            <span aria-hidden="true">Agregar</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="alert alert-light alert-dismissible fade show" role="alert">
                <div class="row">
                    <div class="col-sm-9 mx-auto">
                        <input type="number" class="form-control" id="fecha-creacion" name="num_a01"
                            placeholder="ingresa el total: G01" autofocus>
                    </div>
                    <div class="form-group mx-auto">
                            <button type="button" class="btn btn-outline-info my-2 my-sm-0" data-dismiss="alert"
                            aria-label="Close">
                            <span aria-hidden="true">Agregar</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="alert alert-light alert-dismissible fade show" role="alert">
                <div class="row ">
                    <div class="col-sm-9  mx-auto">
                        <input type="number" class="form-control" id="fecha-creacion" name="num_a01"
                            placeholder="ingresa el total: A11" autofocus>
                    </div>
                    <div class="form-group  mx-auto">
                        <button type="button" class="btn btn-outline-info my-2 my-sm-0" data-dismiss="alert"
                            aria-label="Close">
                            <span aria-hidden="true">Agregar</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="alert alert-light alert-dismissible fade show" role="alert">
                <div class="row ">
                    <div class="col-sm-9  mx-auto">
                        <input type="number" class="form-control" id="fecha-creacion" name="num_a01"
                            placeholder="ingresa el total: G04" autofocus>
                    </div>
                    <div class="form-group  mx-auto">
                        <button type="button" class="btn btn-outline-info my-2 my-sm-0" data-dismiss="alert"
                            aria-label="Close">
                            <span aria-hidden="true">Agregar</span>
                        </button>
                    </div>
                </div>
            </div>
            <form action="/bloque1" method="POST" >
                <div class="row ">
                    <div class="col-sm-8  mx-auto">
                        <input type="number" class="form-control" id="fecha-creacion" name="num_a01"
                            placeholder="numero de operador" autofocus>
                            <button class="btn btn-outline-info my-2 my-sm-0">
                            Agregar
                        </button>
                    </div>
                    <div class="form-group  mx-auto">
                        
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>