<link rel="stylesheet" href="/css/estilo-tiempos.css">
<div class="grid-container">
	<div class="item1">
		<div class="title">
			<div class="sub-title">
				<i class="fa fa-tools"></i>
				<h2>Tiempo<br>Total</h2>
			</div>
			<div class="text-pri">
				01:05:20
			</div>
		</div>
	</div>

	<div class="item2">
		<button type="button" class="fa fa-tools" data-toggle="modal" data-target="#exampleModal">
		</button>
		<div class="title">
			<h4>A01</h4>
		</div>
		<div class="text">
			00:20:04
		</div>
	</div>
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">A01-05/05/2021</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<table class="table">
						<thead class="thead-dark">
							<tr>
								<th scope="col">#Parte</th>
								<th scope="col">Tecnico</th>
								<th scope="col">Inicio</th>
								<th scope="col">Fin</th>
								<th scope="col">Motivo</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">#01</th>
								<td>12345</td>
								<td>08:20:00</td>
								<td>08:35:00</td>
								<td>Lorem ipsum dolor sit amet consectetur, adipisicing elit</td>
							</tr>
							<tr>
								<th scope="row">2</th>
								<td>Jacob</td>
								<td>Thornton</td>
								<td>@fat</td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">3</th>
								<td>Larry</td>
								<td>the Bird</td>
								<td>@twitter</td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="item3">A02</div>
	<div class="item4">A03</div>
	<div class="item5">A04</div>
	<div class="item6">
		<i class="fa fa-tools"></i>
		<div class="title">
			<h4>A05</h4>
		</div>
		<div class="text">
			00:20:04
		</div>
	</div>
	<div class="item7">A06</div>
	<div class="item8">A07</div>
	<div class="item9">A08</div>
	<div class="item10">
		<i class="fa fa-tools"></i>
		<div class="title">
			<h4>A09</h4>
		</div>
		<div class="text">
			00:20:04
		</div>
	</div>
	<div class="item11">A010</div>
	<div class="item12">A011</div>
	<div class="item13">A012</div>
	<div class="item14">
		<i class="fa fa-tools"></i>
		<div class="title">
			<h4>A13</h4>
		</div>
		<div class="text">
			00:20:04
		</div>
	</div>
	<div class="item15">G01</div>
	<div class="item16">G02</div>
	<div class="item17">G03</div>
	<div class="item18">
		<i class="fa fa-tools"></i>
		<div class="title">
			<h4>G04</h4>
		</div>
		<div class="text">
			00:20:04
		</div>
	</div>
	<div class="item19">X06</div>
	<div class="item20">X07</div>
</div>