<script src="/socket.io/socket.io.js"></script>


<link rel="stylesheet" href="/css/style-ejemplo1.css">

<div class="container mx-auto text-center">
	<div class="row mx-auto">
		<div class="headLeft-section">
			<input class="input" type="text" id="search" style="text-transform: uppercase;" value=""
				onkeyup="javascript:this.value=this.value.toUpperCase();">
			<button id="searchchat" onclick="Buscarchat()"> <i class="fa fa-search"></i> </button>
		</div>
		<div class="headRight-section">
			<h1>chat supervisor de calidad</h1>
		</div>
	</div>
	<div class="row mx-auto">
		<div class="bodyLeft-section">
			<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
				<a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
					aria-controls="v-pills-home" aria-selected="true">A01</a>
				<a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
					aria-controls="v-pills-profile" aria-selected="false">A02</a>
				<a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
					aria-controls="v-pills-messages" aria-selected="false">A03</a>
				<a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
					aria-controls="v-pills-settings" aria-selected="false">A04</a>
			</div>
		</div>
		<div class="bodyRight-section">
			<div class="tab-content" id="v-pills-tabContent">
				<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
					aria-labelledby="v-pills-home-tab">
					<div class="chat form-group">
						<div class="message">
							<ul>
								<div id="message">
									<li class="msg-left">
										<div class="msg-left-sub">
											<img src="/logos/a2.png">
											<div class="msg-desc">
												HOLA2
											</div>
										</div>
									</li>

								</div>
							</ul>
						</div>
					</div>
					<div class="form-group text-center">
						<input type="text" id="mensaje" placeholder="mensaje para....A01">
						<button class="btn-send" onclick="enviarchat01()"><i class="fa fa-paper-plane"></i></button>
					</div>
				</div>
				<div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
					<div class="chat form-group">
						<div class="message">
							<ul>
								<div id="message">
									<li class="msg-left">
										<div class="msg-left-sub">
											<img src="/logos/a2.png">
											<div class="msg-desc">
												HOLA2
											</div>
										</div>
									</li>

								</div>
							</ul>
						</div>
					</div>
					<div class="form-group text-center">
						<input type="text" id="mensaje" placeholder="mensaje para....A02">
						<button class="btn-send" onclick="enviarchat02()"><i class="fa fa-paper-plane"></i></button>
					</div>
				</div>
				<div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
					<div class="chat form-group">
						<div class="message">
							<ul>
								<div id="message">
									<li class="msg-left">
										<div class="msg-left-sub">
											<img src="/logos/a2.png">
											<div class="msg-desc">
												HOLA2
											</div>
										</div>
									</li>

								</div>
							</ul>
						</div>
					</div>
					<div class="form-group text-center">
						<input type="text" id="mensaje" placeholder="mensaje para....A03">
						<button class="btn-send" onclick="enviarchat03()"><i class="fa fa-paper-plane"></i></button>
					</div>
				</div>
				<div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
					<div class="chat form-group">
						<div class="message">
							<ul>
								<div id="message">
									<li class="msg-left">
										<div class="msg-left-sub">
											<img src="/logos/a2.png">
											<div class="msg-desc">
												HOLA2
											</div>
										</div>
									</li>
									<li class="msg-right">
  <div class="msg-left-sub">
    <img src="/logos/a1.png">
    <div class="msg-desc">
    ${data.mensaje}
    </div>
  </div>
</li>
								</div>
							</ul>
						</div>
					</div>
					<div class="form-group text-center">
						<input type="text" id="mensaje" placeholder="mensaje para....A03">
						<button class="btn-send" onclick="enviarchat03()"><i class="fa fa-paper-plane"></i></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>