<link rel="stylesheet" href="/css/ejemplos.css">

<div class="column" >
  <div class="card">
  <div class="card-content">
    <div class="field is-horizontal">
  <div class="field-body">
    <div class="field">
      <p class="control is-expanded has-icons-left">
        <input class="input" type="text" readonly>
        <span class="icon is-small is-left">
          <i class="fas fa-calendar-alt"></i>
        </span>
      </p>
    </div>
    <div class="field secondary">
      <p class="control is-expanded has-icons-left has-icons-right">
        <input class="input is-success" type="text" readonly >
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </p>
    </div>
  </div>
</div>
<div class="field">
  <label>NUMERO DE OPERADOR</label>
  <div class="control">
    <input class="input" type="text" >
  </div>
</div>
<div class="field">
  <label>TURNO</label>
  <div class="control">
    <input class="input" type="text" >
  </div>
</div>
<div class="field">
  <label>NUMERO DE MAQUINA</label>
  <div class="control">
    <input class="input" type="text" >
  </div>
</div>
<div class="field">
  <label class="label">Name</label>
  <div class="control">
    <input class="input" type="text" >
  </div>
</div>
<div class="field">
  <label class="label">Name</label>
  <div class="control">
    <input class="input" type="text" >
  </div>
</div>
<div class="field">
  <label class="label">Name</label>
  <div class="control">
    <input class="input" type="text" >
  </div>
</div>
<div class="field">
  <label class="label">Name</label>
  <div class="control">
    <input class="input" type="text" >
  </div>
</div>
<div class="field">
  <label class="label">Name</label>
  <div class="control">
    <input class="input" type="text" >
  </div>
</div>
<div class="field">
  <label class="label">Name</label>
  <div class="control">
    <input class="input" type="text" >
  </div>
</div>
  </div>
  <footer class="card-footer">
    <p class="card-footer-item">
      <span>
        View on <a href="https://twitter.com/codinghorror/status/506010907021828096">Twitter</a>
      </span>
    </p>
    <p class="card-footer-item">
      <span>
        Share on <a href="#">Facebook</a>
      </span>
    </p>
  </footer>
</div>

</div>
</div>

