<div id="observablehq-441e9c2c" ></div>
<script type="module">
import {Runtime, Inspector} from "/js/runtime.js";
import define from "/js/0dba75914847cad6@278.js";
const inspect = Inspector.into("#observablehq-441e9c2c");
(new Runtime).module(define, name => name === "chart" ? inspect() : undefined);
</script>